* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background-dark-mode: #0b090a;
  --background-light-mode: #f5f3f4;
  --primery-color-dark: #161a1d;
  --primery-color-light: #d3d3d3;
  --secondary-color-beige: #b1a7a6;
  --third-color-red: #ba181b;
  --forth-color--dark-blue: #003049;
  --fifth-color-light-blue: #669bbc;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Dark / Light Mode */
body.light-mode {
  background-color: var(--background-light-mode);
  color: #111;
}

body.dark-mode {
  background-color: var(--background-dark-mode);
  color: #f4f4f4;
}
body.light-mode .intro {
  background: var(--secondary-color-beige);
  box-shadow: 0px 0px 20px 0px rgba(17, 13, 2, 0.872),
    0px 0px 40px 0px rgba(132, 91, 58, 0.5);
}
body.light-mode .intro-text-box {
  background-color: var(--secondary-color-beige);
  color: var(--primery-color-dark);
  border-left: 2px solid var(--primery-color-dark);
}

body.dark-mode .intro-text-box {
  background-color: var(--primery-color-dark);
  color: var(--secondary-color-beige);
  border-left: 2px solid var(--secondary-color-beige);
}
body.light-mode .card{
  box-shadow: 3px 3px 0px 0px rgb(250, 250, 250), 6px 6px 0px 0px rgba(255, 0, 0, 1);
}
body.light-mode footer{
  background-color: var(--secondary-color-beige);
  color: var(--primery-color-dark);
}

/* Header Start */
.hero {
  height: 100vh;
  background-image: url(images/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  z-index: 10;
}

.hamburger {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--primery-color-light);
  cursor: pointer;
}

.menu-list {

}

.logo {
  width: 180px;
  height: 200px;
  object-fit: cover;
}

/* Theme switcher wrapper */
.theme-toggle-wrapper {
  position: relative;
  width: 60px;
  height: 34px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 34px;
  padding: 2px;

  transition: background 0.3s;
  flex-shrink: 0;
}

/* Döljer checkbox */
.theme-toggle-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Ikoner */
.theme-toggle-label .icon-moon,
.theme-toggle-label .icon-sun {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 1;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.icon-moon img,
.icon-sun img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: block;
}

.icon-moon {
  left: 8px;
}

.icon-sun {
  right: 8px;
}

/* Boll som flyttas */
.theme-toggle-ball {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s, background 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Flytta bollen när checkbox är ikryssad */
.theme-toggle-checkbox:checked + .theme-toggle-label .theme-toggle-ball {
  transform: translateX(26px);
}

/*  Hero Text  */
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 20px 40px;
  border: 0 solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(219, 12, 12, 0.7);
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.intro-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--third-color-red);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.intro-button:hover {
  background-color: var(--background-light-mode);
  color: var(--third-color-red);
}

/* Intro Start */
.intro {
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  background: var(--primery-color-dark);
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0px 0px 15px 0px rgba(255, 216, 168, 0.5);
  flex-wrap: wrap;
}

.intro-text-box {
  padding-left: 10px;
  max-width: 600px;
}
.intro-text-box h1 {
  margin-bottom: 20px;
}

.intro img {
  width: 340px;
  height: 285px;
}
.intro-text-box p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* Main Start */

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

/* KORTSTILAR */
.card {
  width: 500px;
  background-color: var(--third-color-red);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1), 6px 6px 0px 0px var(--secondary-color-beige);
  color: var(--background-light-mode);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 20px;
  border-radius: 8px;
}
.card a{
  display: flex;
  justify-content: center;
}
/* BILD */
.card img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* RUBRIKER OCH TEXT */
.card h2 {
  font-size: 1.4rem;
  margin: 10px;
}

.card h3 {
  margin: 10px;
  
  font-size: 1.1rem;
}

.card p {
  font-size: 0.95rem;
  color: var(--background-light-mode);
  margin:10px;
}

/* KNAPP */
.card button {
  background-color: var(--fifth-color-light-blue);
  color: var(--background-dark-mode);
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.card button:hover {
  background-color: var(--forth-color--dark-blue);
  color: var(--background-light-mode);
}
/* Footer Start  */
footer {
  background-color: var(--primery-color-dark);
  color: var(--background-light-mode);
  padding: 30px 20px;
}

.footer-section {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer ul {
  list-style: none;
  line-height: 1.8;
  font-size: 14px;
}
footer h4 {
  margin-bottom: 10px;
}

/* Responsiv */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content p {
    font-size: 1.2rem;
  }
  .intro-button {
    padding: 10px 20px;
    font-size: 1rem;
  }
  .logo {
    height: 50px;
  }
  .hamburger {
    left: 20px;
  }
  .main{
    flex-direction: column;
    align-items: center;
  }
  .card{
    width: 90%;
  }
}


