:root {
    --background-dark-mode: #0b090a;
    --background-light-mode: #f5f3f4;
    --primery-color-dark: #161a1d;
    --primery-color-light: #d3d3d3;
    --secondary-color-beige: #b1a7a6;
    --third-color-red: #ba181b;
    --forth-color-green: #7ff372;
}

/* Header Start */

/* Header End */

/* Intro Start */

/* Intro End */

/* Main Start */

/* Main End */

/* Footer Start  */

/* Footer End */

/* Responsiv Start */

/* Responsiv End */